<p>
  info-page works!
</p>

<div>
  <label for="ddlcountry">country</label>
  <select name="" id="ddlcountry" [(ngModel)]="country" #c (change)="filter()" #ddlcountry>
      <option value=""></option>
      <option *ngFor="let i of countries" value="{{i}}">{{i}}</option>
  </select>

  <label for="ddlrmcs">rmc</label>
  <select name="" id="ddlrmcs" [(ngModel)]="rmc" (change)="filter()" #ddlrmcs>
      <option value=""></option>
      <option *ngFor="let i of rmcs" value="{{i}}">{{i}}</option>
  </select>
</div>

<app-info></app-info>
